<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="kiss">
      <section name="common" type="System.Configuration.NameValueSectionHandler"/>
      <section name="directories.development" type="System.Configuration.NameValueSectionHandler"/>
      <section name="directories.production" type="System.Configuration.NameValueSectionHandler"/>
      <section name="jobs.development" type="System.Configuration.NameValueSectionHandler"/>
      <section name="jobs.production" type="System.Configuration.NameValueSectionHandler"/>
      <section name="timeouts.development" type="System.Configuration.NameValueSectionHandler"/>
      <section name="timeouts.production" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Distribution Count" value="1"/>
    <add key="Distribution Delay" value="200,-2000"/>
    <add key="Listening Mode" value="SD-DTC PO-MSMQ BUNDLE-DTC"/>
    <add key="MSMQ Capacity" value="0"/>
    <add key="Persistent Object Concurrency" value="-2"/>
    <add key="Persistent Object Size" value="16"/>
    <add key="Bundle Size" value="16"/>
    <add key="Size 8 KB" value="8192"/>
    <add key="Size 16 KB" value="16384"/>
    <add key="Size 32 KB" value="32768"/>
    <add key="Size 64 KB" value="65536"/>
    <add key="Size 128 KB" value="131072"/>
    <add key="Size 256 KB" value="262144"/>
    <add key="Size 512 KB" value="524288"/>
    <add key="Size 1 MB" value="1048576"/>
    <add key="Size 2 MB" value="2097152"/>
    <add key="Size 4 MB" value="4194304"/>
    <add key="Size 8 MB" value="8388608"/>
    <add key="Size 16 MB" value="16777216"/>
    <add key="Size 32 MB" value="33554432"/>
    <add key="Size 64 MB" value="67108864"/>
  </appSettings>
  <connectionStrings>
    <add name="Kiss" connectionString="Data Source=(local){0};Initial Catalog=Kiss;Integrated Security=True;Persist Security Info=False"/>
  </connectionStrings>
  <kiss>
    <common>
      <add key="Profile" value="development"/>
    </common>
    <directories.development>
      <add key="Standing Data" value=".\TEMP\"/>
    </directories.development>
    <directories.production>
      <add key="Standing Data" value=".\TEMP\"/>
    </directories.production>
    <jobs.development>
      <add key="Ping Schedule" value="5,10"/>
      <add key="Standing Data Schedule" value="5"/>
    </jobs.development>
    <jobs.production>
      <add key="Ping Schedule" value="43200,86400"/>
      <add key="Standing Data Schedule" value="60"/>
    </jobs.production>
    <timeouts.development>
      <add key="NEIGHBORHOOD_SQL_GET" value="90"/>
      <add key="DISTRIBUTION_SQL_RETRIEVE" value="120"/>
      <add key="DISTRIBUTION_SQL_RETRIEVE_ALL" value="90"/>
      <add key="DISTRIBUTION_SQL_PROCESS" value="120"/>
      <add key="SD_TTRQ" value="300"/>
      <add key="SD_TTBR" value="600"/>
      <add key="SD_RECEIVE_TIMEOUT" value="5"/>
      <add key="SD_SQL_STORAGE" value="120"/>
      <add key="SD_DTC_STORAGE" value="180"/>
      <add key="PO_TTRQ" value="300"/>
      <add key="PO_TTBR" value="600"/>
      <add key="PO_RECEIVE_TIMEOUT" value="5"/>
      <add key="PO_SQL_STORAGE" value="120"/>
      <add key="PO_SQL_RECOVERY" value="120"/>
      <add key="PO_DTC_STORAGE" value="180"/>
      <add key="PO_DTC_RECOVERY" value="300"/>
      <add key="PO_CONTROL_TTRQ" value="300"/>
      <add key="PO_CONTROL_TTBR" value="600"/>
      <add key="PO_CONTROL_RECEIVE_TIMEOUT" value="5"/>
      <add key="BUNDLE_TTRQ" value="300"/>
      <add key="BUNDLE_TTBR" value="600"/>
      <add key="BUNDLE_RECEIVE_TIMEOUT" value="5"/>
      <add key="BUNDLE_SSSB" value="600"/>
      <add key="BUNDLE_SQL_STORAGE" value="120"/>
      <add key="BUNDLE_SQL_RECOVERY" value="120"/>
      <add key="BUNDLE_DTC_DISTRIBUTION" value="180"/>
      <add key="BUNDLE_DTC_STORAGE" value="180"/>
      <add key="BUNDLE_DTC_RECOVERY" value="300"/>
      <add key="BUNDLE_CONTROL_TTRQ" value="300"/>
      <add key="BUNDLE_CONTROL_TTBR" value="600"/>
      <add key="BUNDLE_CONTROL_RECEIVE_TIMEOUT" value="5"/>
      <add key="KISS_SSSB_PC_REGISTRATION" value="600"/>
      <add key="KISS_SSSB_PING" value="600"/>
      <add key="KISS_SSSB_STAGELIST" value="600"/>
      <add key="KISS_SQL_PC_REGISTRATION" value="90"/>
      <add key="KISS_SQL_PING" value="90"/>
      <add key="KISS_SQL_STAGELIST" value="90"/>
      <add key="KISS_SQL_GARBAGE_COLLECTION" value="90"/>
    </timeouts.development>
    <timeouts.production>
      <add key="NEIGHBORHOOD_SQL_GET" value="30"/>
      <add key="DISTRIBUTION_SQL_RETRIEVE" value="30"/>
      <add key="DISTRIBUTION_SQL_RETRIEVE_ALL" value="30"/>
      <add key="DISTRIBUTION_SQL_PROCESS" value="30"/>
      <add key="SD_TTRQ" value="60"/>
      <add key="SD_TTBR" value="90"/>
      <add key="SD_RECEIVE_TIMEOUT" value="5"/>
      <add key="SD_SQL_STORAGE" value="30"/>
      <add key="SD_DTC_STORAGE" value="60"/>
      <add key="PO_TTRQ" value="10"/>
      <add key="PO_TTBR" value="15"/>
      <add key="PO_RECEIVE_TIMEOUT" value="5"/>
      <add key="PO_SQL_STORAGE" value="30"/>
      <add key="PO_SQL_RECOVERY" value="30"/>
      <add key="PO_DTC_STORAGE" value="60"/>
      <add key="PO_DTC_RECOVERY" value="60"/>
      <add key="PO_CONTROL_TTRQ" value="10"/>
      <add key="PO_CONTROL_TTBR" value="90"/>
      <add key="PO_CONTROL_RECEIVE_TIMEOUT" value="5"/>
      <add key="BUNDLE_TTRQ" value="28800"/>
      <add key="BUNDLE_TTBR" value="29100"/>
      <add key="BUNDLE_RECEIVE_TIMEOUT" value="5"/>
      <add key="BUNDLE_SSSB" value="1200"/>
      <add key="BUNDLE_SQL_STORAGE" value="30"/>
      <add key="BUNDLE_SQL_RECOVERY" value="30"/>
      <add key="BUNDLE_DTC_DISTRIBUTION" value="60"/>
      <add key="BUNDLE_DTC_STORAGE" value="60"/>
      <add key="BUNDLE_DTC_RECOVERY" value="60"/>
      <add key="BUNDLE_CONTROL_TTRQ" value="10"/>
      <add key="BUNDLE_CONTROL_TTBR" value="15"/>
      <add key="BUNDLE_CONTROL_RECEIVE_TIMEOUT" value="5"/>
      <add key="KISS_SSSB_PC_REGISTRATION" value="60"/>
      <add key="KISS_SSSB_PING" value="60"/>
      <add key="KISS_SSSB_STAGELIST" value="120"/>
      <add key="KISS_SQL_PC_REGISTRATION" value="30"/>
      <add key="KISS_SQL_PING" value="30"/>
      <add key="KISS_SQL_STAGELIST" value="30"/>
      <add key="KISS_SQL_GARBAGE_COLLECTION" value="30"/>
    </timeouts.production>
  </kiss>
</configuration>
