<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LanguageFeatures.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NorthwindContainer" connectionString="metadata=&quot;res://*/LINQ To Entities.Nothwind.csdl|res://*/LINQ To Entities.Nothwind.ssdl|res://*/LINQ To Entities.Nothwind.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>