<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="LSHTTP.Gateway.Push.Notification" 
                address="http://localhost:1641/Notification.svc"
                binding="basicHttpBinding"
                bindingConfiguration="LSHTTP.Gateway.Contract.INotification.Binding"
                contract="LSHTTP.Gateway.Contract.INotification" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="LSHTTP.Gateway.Contract.INotification.Binding" 
                 openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  
</configuration>
