<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EF4TestEntities" connectionString="metadata=res://*/EF4Test.csdl|res://*/EF4Test.ssdl|res://*/EF4Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=wsr-develop-5\sqlexpress;Initial Catalog=EF4Test;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
